{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Pantrify</title>
		<link rel="icon" type="image/x-icon" href="{% static 'chat/images/pantrify.ico' %}">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>

	<body>
		<div class="">
			{% include 'chat/const/homenav.html' %}
            <!--FIRST SECTION-->
			<section class="mx-2 lg:mx-40 h-[80vh]">
                <div class="h-full w-full flex flex-col justify-center items-center">
                    <!--HERO-->
                    <div>
                        <p class="text-3xl lg:text-6xl font-bold text-center">AI-Powered</p>
                        <p class="text-3xl lg:text-6xl font-bold bg-black text-white rounded-lg px-4 py-2 lg:px-1">Recipe Generator</p>
                    </div>
                    <div class="text-center w-70 lg:w-160 mt-3">
                        <p class="text-black/70">Transform your ingredients into delicious meals with the power of artificial intelligence. Get personalized recipes, cooking tips, and meal plans instantly.
                        </p>
                    </div>
                    <a class="inline-block shadow-lg bg-black text-white p-2 rounded-xl font-semibold mt-5" href="">Generate Your Recipe</a>
                </div>
            </section>
		</div>
	</body>
</html>
