{% extends "chat/base.html" %}

{% block content %}
<style>
  @-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}

.swing-in-top-fwd {
	-webkit-animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}
</style>
<div class="px-2 lg:px-80" style="font-family: 'Poppins', sans-serif; font-weight: 400;">
  <div class="bg-gray-100 w-70 p-4 rounded-2xl swing-in-top-fwd">
    <p class="text-black/50">Pantrify AI</p>
    <p class="w-full">Hello! Tell me what ingredients you have and I'll help you create something delicious!</p>
  </div>
  
  {% if recipe %}
    <div class="bg-gray-100 lg:w-120 p-4 rounded-2xl my-2 swing-in-top-fwd">
      <p class="text-black/50">Pantrify AI</p>
      <h2 class="text-xl lg:text-2xl font-bold mb-2">Generated Recipe from the Ingredients</h2>
      <p class="font-semibold">{{ recipe|linebreaksbr|safe }}</p>
    </div>
  {% endif %}
</div>

{% include "chat/const/form.html" %}

{% endblock %}